.semicircle{
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: right center;
}
.semicircle:nth-child(1){
  background-color: #088b8b;
  z-index: 2;
}
.semicircle:nth-child(2){
  background-color: #088b8b;
  z-index: 3;
}
.semicircle:nth-child(3){
  background-color: #161932;
  z-index: 4;
}




.outermost-circle{
  width: 95%;
  height: 95%;
  background-color: #161932;
  border-radius: 50%;
  position: relative;
  z-index: 5;
}

// formular
// angle = remainingtime/setime * 360deg

// futuretime = settime - starttime